.upper {
	text-transform: uppercase;
}
body {

}
$blue: #1d93d1;
$orange: #ee7236;
@mixin back {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
h1 {
	color: $blue !important;
	font-family: "GothamProBlack" !important;
}
h2 {
	color: $orange !important;
	font-family: "GothamProBold" !important;
}
button {
	color: #fff !important;
	background-color: $blue !important;
	border-radius: 5px !important;
}
input[type=text], button {
	font-family: 'Open Sans', sans-serif !important;
	height: 46px !important;
	font-weight: 600 !important;
	font-size: 20px !important;
}
#scr1 {
	padding-top: 115px;
	padding-bottom: 75px;
	h1 {
		font-size: 78px;
		margin-top: 0;
		margin-bottom: 50px;
	}
	h2 {
		margin-top: 50px;
		margin-bottom: 70px;
	}
	input, button {
		display: inline;
	}
	input {
		width: 315px;
	}
	button {
		width: 210px;
		margin-top: -7px;
		margin-left: 15px;
	}
}

#scr2 {
	display: none;
	padding-top: 135px;
	padding-bottom: 70px;
	h1 {
		font-size: 67px;
	}
	h2 {
		font-size: 22px;
		margin-top: 60px;
		margin-bottom: 60px;
	}
	button {
		width: 180px;
		margin: auto;
	}
	.tekst {
		display: none;
		margin-top: 55px;
		h3 {
			font-family: "GothamProBold";
			font-size: 18px;
			margin-bottom: 20px;
		}
		article {
			padding-bottom: 50px;
			p {
				font-family: "GothamProRegular";
				text-indent: 45px;
			}
			p.ret {
				font-family: "GothamProItalic";
				margin-top: 20px;
				text-indent: 0;
			}
		}
	}
}

#scr3 {
	display: none;
	padding-top: 135px;
	padding-bottom: 55px;
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 22px;
		margin-top: 45px;
		margin-bottom: 65px;
	}
	.tests {
		p {
			font-size: 20px;
			font-family: "GothamProBold";
		}
		label {
			font-size: 16px;
			font-family: "GothamProRegular";
			font-weight: 400;
			margin-left: 8px;
			width: 70%;
    		vertical-align: top;
		}
	}
	button {
		width: 175px;
		margin-top: 55px;
	}
}

#scr4 {
	display: none;
	padding-top: 135px;
	padding-bottom: 130px;
	h1 {
		font-size: 67px;
		margin-top: 0;
		margin-bottom: 65px;
	}
	h2 {
		font-family: "GothamProMedium";
		font-size: 22px;
		span {
			font-family: "GothamProBlack";
		}
	}
	p {
		font-family: "GothamProRegular";
		font-size: 16px;
		margin-top: 80px;
	}
	h4 {
		color: $blue;
		font-family: "GothamProBold";
		font-size: 22px;
		margin-top: 90px;
	}
	p.none {
		margin-top: 0;
	}
	form {
		margin-top: 35px;
	}
	input, button {
		width: 220px;
		display: inline;
		margin-right: 25px;
	}
	button {
		margin-top: -5px;
	}
}



.pluso-more {
	display: none !important;
}









//	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
//    	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
//    	transition: background .5s ease-in-out, padding .5s ease-in-out;
















































