$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #557593;

$bg: #e7f4ff;
$black: #232323;

$btnCallModalBg: $mainColor;
$btnCallModalHoverColor: #ffc1bd;

$btnFormBlHoverBg: $secondColor;
$inputColor: #232323;

$spanNeZachPrice: #557593;
$formBlBg: $mainColor;

$timerCifriBg: #3b546c;

$modalBg: #c1c1ce;

$font-f: 'Roboto-Regular';