$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #9f625e;

$bg: #ebf4fe;
$black: #232323;


$iconsBg: #579bd8;


$btnFormBg: #120913;

$inputColor: #232323;

$neZachPrice: $iconsBg;
$dot: #5ba4e5;
$formBlBg: $mainColor;

$timerCifriBg: #120913;

$modalBg: #fff;

$videoBg: #000;

$iconsBg: #579bd8;

$font-f: 'MinionPro-Bold';