$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #2f7364;

$bg: #dce5d8;
$black: #232323;

$btnCallModalBg: $mainColor;
$btnCallModalHoverColor: #ffc1bd;

$btnFormBlHoverBg: #1e574a;
$inputColor: #232323;

$spanNeZachPrice: #38927e;
$formBlBg: $mainColor;

$timerCifriBg: #1e574a;

$modalBg: $bg;

$font-f: 'Roboto-Regular';