$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #555963;

$bg: #ebebeb;
$black: #232323;

$btnCallModalBg: $mainColor;
$btnCallModalHoverColor: #ffc1bd;

$btnFormBlHoverBg: #905450;
$inputColor: #232323;

$spanNeZachPrice: #fff;
$formBlBg: $mainColor;

$timerCifriBg: #474b54;

$modalBg: #c1c1ce;

$font-f: 'Roboto-Regular';