.upper {
  text-transform: uppercase; }

.right {
  text-align: right; }

body {
  padding-top: 13px;
  font-family: 'MullerRegular' !important;
  padding-bottom: 50px; }

.btn:hover {
  color: #6666ff !important;
  background-color: #fff !important;
  border: 2px solid #6666ff !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.btnCallModal {
  background-color: #6666ff !important;
  color: #fff !important;
  border: 2px solid #6666ff !important;
  border-radius: 3px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  height: 55px;
  width: 200px;
  text-transform: uppercase;
  margin-top: 20px; }

.close, .close:focus, .close:hover {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important; }

.modal-header .close {
  margin-top: -35px !important;
  margin-right: -36px;
  box-shadow: none !important; }

input:hover {
  background-color: #cdcaca !important;
  color: #000 !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

input {
  width: 350px !important;
  border: 1px solid #000;
  height: 55px !important;
  border-radius: 10px !important;
  background-color: #f7f7f7 !important; }

.question_bl {
  display: none; }

#question1 {
  display: block; }

.radio, .check {
  background-image: url(../img/unchecked.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 30px;
  height: 30px;
  width: 100%;
  color: #000;
  cursor: url(../img/cursor1.png), pointer;
  font-size: 20px;
  vertical-align: top;
  margin-top: -7px;
  padding-top: 0px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-left: 70px;
  line-height: 1.55;
  margin: 6px 0 !important; }

.radio.active, .check.active {
  background-image: url(../img/checked.svg); }

#main .tell {
  margin-top: 40px;
  line-height: 1.35;
  font-family: 'MullerLight'; }
#main .progress {
  width: 700px;
  height: 40px;
  border-radius: 0px;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: none; }
  #main .progress .percent {
    font-family: 'MullerMedium'; }
#main .progress-bar {
  border-radius: 0px;
  text-align: left;
  background-color: #fefe22;
  color: #333;
  font-size: 18px;
  padding-left: 30px;
  padding-top: 10px; }
  #main .progress-bar div {
    width: 200px; }
#main .stars {
  text-align: right;
  width: 700px;
  padding-right: 40px;
  margin-top: -31px; }
  #main .stars .star1 {
    margin-right: 31%; }
  #main .stars .star {
    width: 3%; }

.changable .question_bl {
  padding-right: 10%; }
  .changable .question_bl h3.question {
    margin-top: 30px;
    margin-bottom: 55px;
    line-height: 1.35;
    font-family: 'MullerMedium'; }
  .changable .question_bl button {
    display: none; }

#question2_2_4_3 .r2, #question2_2_4_3_1 .r2, #question2_1_4 .r2 {
  margin-bottom: 20px !important; }

#question2_2_4_1 .r2 {
  margin-bottom: 45px !important; }

#question2_2_4_1_1 .r2 {
  margin-bottom: 45px !important; }

#question2_2_4_2_1 .r2 {
  margin-bottom: 60px !important; }

#question2_2_4_2 .r2 {
  margin-bottom: 25px !important; }

#question2_1_5 .r1 {
  margin-bottom: 20px !important; }

.left_part .go {
  padding: 45px;
  width: 200px;
  margin-top: 55px;
  background-color: #fff705;
  box-shadow: 20px 30px 70px 0px rgba(0, 0, 0, 0.2); }
  .left_part .go img {
    width: 50%; }
  .left_part .go p.one {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'MullerMedium'; }
  .left_part .go .online p, .left_part .go .yesterday p {
    margin-top: 5px; }
  .left_part .go .online span, .left_part .go .yesterday span {
    font-size: 24px;
    font-family: 'MullerMedium'; }
  .left_part .go .online {
    margin-top: 115px; }
  .left_part .go .yesterday {
    margin-top: 85px; }

#footer {
  position: absolute;
  bottom: 0;
  left: 45%; }

/*# sourceMappingURL=main.css.map */