$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #cb485f;

$bg: #fff5f9;
$black: #232323;

$btnCallModalBg: $mainColor;
$btnCallModalHoverColor: #ffc1bd;

$btnFormBlHoverBg: #aa3b4f;
$inputColor: #232323;

$spanNeZachPrice: #cb485f;
$formBlBg: $mainColor;

$timerCifriBg: #aa3b4f;

$modalBg: $bg;

$font-f: 'Roboto-Regular';