$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #1b1b1b;

$bg: #fff;
$black: #1b1b1b;





$btnFormBg: #5684bb;

$inputColor: #232323;

$neZachPrice: #5684bb;

$formBlBg: $mainColor;

$timerCifriBg: #120913;

$modalBg: #ececec;

$asideBg: #1b1b1b;

$iconsBg: #4d78ac;

$font-f: 'Roboto-Regular';