$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #9f625e;

$bg: #f0feeb;
$black: #232323;





$btnFormBg: #120913;

$inputColor: #232323;

$neZachPrice: #85b14c;
$dot: #85b14c;
$formBlBg: $mainColor;

$timerCifriBg: #120913;

$modalBg: #fff;

$videoBg: #000;

$iconsBg: #85b14c;

$font-f: 'MinionPro-Bold';