@media (max-width: 1199px) {
	.mainContent h1 {
		font-size: 46px;
	}
	.mainContent .arrow {
		right: 175px;
	}
}
@media (max-width: 991px) {
	.mainContent h1 {
		font-size: 36px;
	}
	.mainContent .dots .text {
		font-size: 14px;
	}
	.mainContent .forma__header {
		margin-top: 16px;
	}
	.mainContent .form {
		width: 100%;
	}
	.mainContent .wrap .text {
		font-size: 14px;
		.an {
			font-size: 30px;
		}
	}
	body {
		min-height: auto;
	}
	.mainContent .arrow {
		top: 35px;
		right: 50px;
	}
}
@media (max-width: 767px) {
	header {
		height: auto;
    	text-align: center;
	}
	header button.btn, header .phone {
		display: block;
		margin: 10px auto;
		text-align: center;
	}
	.mainContent h1 {
		font-size: 20px;
	}
	.mainContent .dots .leftP, .mainContent .dots .rightP {
		display: block;
		margin: 0;
	}
	.mainContent .forma__header, .mainContent .form h4 {
		font-size: 14px;
	}
	.mainContent .form input:not(.check), .mainContent .form button, .modal input:not(.check), .modal button {
		margin: 5px 10px;
	}
	.mainContent .wrap {
		display: block;
	}
}
@media (min-width: 768px) {

}
@media (max-width: 736px) {

}
@media (max-width: 667px) {

}
@media (max-width: 640px) {

}
@media (max-width: 568px) {

}
@media (max-width: 415px) {

}
@media (min-width: 768px) {
	
}
@media (max-width: 413px) {
	
}
@media (max-width: 376px) {
	
}
@media (max-width: 360px) {

}
@media (max-width: 321px) {

}





















































