$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #9f625e;

$bg: #2a2a2a;
$black: #232323;





$btnFormBg: #dbae23;

$inputColor: #232323;

$neZachPrice: #dbae23;
$dot: $btnFormBg;
$formBlBg: $mainColor;

$timerCifriBg: #120913;

$modalBg: $bg;

$videoBg: #000;

$iconsBg: #1f1f1f;

$font-f: 'MinionPro-Bold';