.upper {
	text-transform: uppercase;
}
.right {
	text-align: right;
}
.text-left {
	text-align: left;
}
html body {
	font-family: "exo2.0", sans-serif !important;
	overflow-x: hidden;
	color: #161616;
}

$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;
$fiolet: #700c6d;

$button_bg: #ffc600;
@mixin back {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
@mixin place {
	::-webkit-input-placeholder {color:#515151 !important;font-family: "Exo2Regular", sans-serif !important;}
	::-moz-placeholder          {color:#515151 !important;font-family: "Exo2Regular", sans-serif !important;}
	:-moz-placeholder           {color:#515151 !important;font-family: "Exo2Regular", sans-serif !important;}
	:-ms-input-placeholder      {color:#515151 !important;font-family: "Exo2Regular", sans-serif !important;}
}
@mixin shad {
	box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.7);
}
.modal-backdrop {
	z-index: 100001 !important;
}
.btn:hover {
	
	background-color: #fff !important;
	border: 2px solid $button_bg !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
button {
	background-color: $button_bg !important;
	color: #000 !important;
	border: 2px solid $button_bg !important;
	border-bottom: 2px solid #937200 !important;
	border-radius: 3px !important;
	font-family: "exo2.0bold" !important;
	text-transform: uppercase;
	font-size: 18px !important;
}
.modal {
	@include place;
	z-index: 100002 !important;
	button:not(.close) {
		background-color: $button_bg !important;
		color: #161616 !important;
		border: 2px solid $button_bg !important;
		border-bottom: 2px solid #937200 !important;
		border-radius: 3px !important;
		
	}
}
.forma {
	form.inline {
		@include place;
		input, button {
			display: inline;
			width: 21%;
			
			border-radius: 3px !important;
		}
		input {
			border-radius: 3px;
			background-color: #fff;
			color: #000;
			border-color: transparent;
			text-align: center;
			height: 40px;
			font-size: 16px;
		}
		.cent {
			margin: 0 100px;
		}
		button {
			display: block;
			margin: 30px auto 0;
			width: 25%;
			height: 46px;
		}
	}
	p {
		font-size: 1em;
		margin-top: 15px;
		margin-bottom: 0;
		font-weight: 600;
	}
	h2 {
		font-size: 1.2857em;
		font-weight: 600;
	}
}

.modal-content {
	border-radius: 2px !important;
	border: 2px solid $fiolet !important;
	padding-bottom: 20px !important;
	background-color: #fff !important;
	background-image: url(../img/bg_modalForm.jpg);
	@include back;
	background-position: center center;
	text-align: center !important;
	.modal-header {
		border: none !important;
		h1 {
			font-size: 30px !important;
			font-family: "exo2.0bold";
			color: #fff;
		}
	}
	input {
		background-color: #fff !important;
		border-radius: 3px !important;
		margin-top: 15px !important;
		color: #000;
		border-color: transparent;
		text-align: center;
	}
	form {
		input, button {
			width: 70% !important;
			margin: auto;
			height: 40px !important;;
			margin-top: 15px;
		}
		h2 {
			font-size: 1.14em !important;
			color: #000;
			font-weight: 600;
			margin-top: 0;
		}
	}
	p {
		margin-top: 0;
		
	}
}
.close, .close:focus, .close:hover {
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}
.modal-header .close {
	margin-top: -35px !important;
    margin-right: -36px;
	box-shadow: none !important;
	background-color: transparent !important;
	border: none !important;
}
.bx-wrapper .bx-viewport { 
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	left: 0 !important;
	img {
		margin: auto;
	}
}
.bx-wrapper .bx-controls-direction a {
	top: 58% !important;
	width: 27px !important;
	height: 45px !important;
	border-radius: 0 !important;
	background-position: center !important;
}
.bx-wrapper .bx-prev {
    left: -60px !important;
}
.bx-wrapper .bx-next {
    right: -60px !important;
}
input:hover {
	background-color: #cdcaca !important;
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.fancybox-overlay {
    z-index: 801000 !important;
}
.fancybox-opened {
    z-index: 803000 !important;
}

.modal-dialog {
    width: 400px !important;    
}






// -------------------

h1.header, h3.header {
	text-align: center;
}
h1.header {
	text-transform: uppercase;
	font-family: "exo2.0bold";
	margin: 0;
}
h3.header {
	font-family: "exo2.0medium";
	margin: 0;
}

header, footer {
	background-color: #fff;
	padding-bottom: 10px;
	.logo {
		padding-top: 0px;
	}
	.logo p {
		font-family: 'Open Sans', sans-serif !important;
		color: $fiolet;
		font-weight: 700;
		font-size: 86px;
		line-height: 1;
		margin: 0;
		
		span {
			
		}
	}
	h1 {
		font-family: "exo2.0medium";
		font-size: 22px;
	}
	.right {
		padding-top: 10px;
		i, p.tel {
			display: inline;
			vertical-align: middle;
		}
		p.tel {
			font-family: "exo2.0bold" !important;
			font-size: 20px;
			margin: 0 0 10px;
		}
		i {
			font-size: 30px;
			color: $button_bg;
		}
	}
}

#scr1 {
	background-image: url(../img/bgMmain.jpg);
	@include back;
	
	//min-height: 800px !important;
	.main, .f {
		color: #fff;
	}
	.main {
		h2, h1 {
			font-family:'Morion-Bold';
		}
		h1 {
			color: $button_bg;
			font-size: 3em;
			margin: 7% 0 1%;
		}
		h2 {
			font-size: 2.2857em;
			margin-top: 0;
			margin-bottom: 1%;
		}
		p, img {
			display: inline-block;
			vertical-align: middle;
		}
		p {
			font-size: 1.4286em;
		}
		.right {
			img {
				width: 100%;
				margin-top: 10px;
			}
			p {
				margin-right: 10px;
			}
		}
		.text-left p {
			margin: 10px 0 10px 10px;;
		}
	}
	.f {
		hr {
			width: 200px;
			border-top: 1px solid #fff;
		}
		h1 {
			font-size: 1.7143em;
			margin: 0 0 3% 0;
			span {
				color: $button_bg;
				font-family: "exo2.0bold";
			}
		}
		input {
			margin: 0 50px;
			width: 25%;
		}
		input, button {
			display: inline-block!important;
			vertical-align: middle;
			height: 45px;
		}
		.forma form.inline button {
			margin: 0 auto;
		}
	}
}



#krygi {
	padding: 100px 0;
	p.cifra {
		font-family: 'Exo2.0-BlackItalic';
		font-size: 5.1429em;
		color: $fiolet;
		margin-bottom: 0;
		line-height: 1;
	}
	p.opis {
		font-size: 1.2857em;
		font-style: italic;
	}
	.secrow {
		padding-top: 30px;
	}
}

#scr2 {
	padding: 100px 0;
	background-color: #efefef;
	h3 {
		margin-bottom: 40px;
	}
	article {
		margin-bottom: 20px;
		header {
			background-color: $fiolet;
			color: #fff;
			font-size: 1.2857em;
			font-family: 'exo2.0medium';
			padding-top: 10px;
			padding-left: 20px;
		}
		.main {
			font-size: 1.1429em;
			background-color: #fff;
			border: 1px solid $fiolet;
			padding: 10px 20px 0;
			height: 130px;
		}
	}
}

#bl_form1, #bl_form2, #bl_form3 {
	padding: 100px 0;
	background-image: url(../img/bg_form1.jpg);
	@include back;
	color: #fff;
	h1, h3 {
		color: $button_bg;
	}
	h1, h2 {
		margin: 0;
	}
	h2 {
		font-family: 'exo2.0medium';
	}
	h1 {
		font-family: "exo2.0bold";
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 20px;
	}
	input.cent {
		margin: 0 100px;
	}
}

#bl_form1, #bl_form2 {
	form {
		input {
			width: 25% !important;
		}
	}
} 

#scr4 {
	padding-top: 100px;
	h3 {
		margin-bottom: 50px;
	}
	.container-fluid {
		
		.col-lg-3 {
			padding: 0;
		}
		img {
			width: 100%;
			
		}
		p.text {
			font-size: 1.7143em;
			color: #fff;
			position: relative;
			height: 45px;
			margin-bottom: 0;
		}
		button {
			position: relative;
			display: none;
		}
		.first, .second {
			text-align: center;
		}
		.first {
			
			p {
				background-image: url(../img/back_opis.png);
				background-repeat: no-repeat;
				margin-top: -45px;
			}
		}
		.second {
			p {
				background-image: url(../img/back_opis1.png);
				background-repeat: no-repeat;
				height: 55px;
			}
			img {
				margin-top: -55px;
			}
		}
		.ob {
			-webkit-transition: background .5s ease-in-out;
			-moz-transition: background .5s ease-in-out;
			-o-transition: background .5s ease-in-out;
			transition: background .5s ease-in-out;
		}
		.first .ob:hover {
			background-color: $fiolet;
			p {
				background-image: none;
				margin-top: -170px;
			}
			button {
				margin-bottom: 84px;
				display: inline-block;
			}
			img {
				opacity: .1;
			}
		}
		.second .ob:hover {
			background-color: $fiolet;
			padding-top: 75px;
			p {
				background-image: none;
				z-index: 1;
			}
			button {
				display: inline-block;
				z-index: 1;
			}
			img {
				opacity: .1;
				margin-top: -171px;
			}
		}
	}
}

#scr5 {
	padding-top: 100px;
	p {
		font-size: 1.2857em;
		border: 1px solid $fiolet;
		width: 75%;
		margin: auto;
	}
}

#scr6 {
	padding: 100px 0 90px;
	h1 span {
		color: $fiolet;
	}
	h3 {
		margin-bottom: 30px;
	}
	p {
		font-size: 1.2em;
		margin-top: 5px;
	}
	.obicon {	
		display: table;
		margin: auto;
		margin-top: 40px;
		text-align: center;
		.obiconin {
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			border: 2px solid #bbbbbb;
			border-radius: 50%;
			display: table-cell;
			vertical-align: middle;
			height: 110px;
			width: 110px;
			.wh {
				display: none;
			}
		}
		.obiconin:hover {
			border-color: $fiolet;
			background-color: $fiolet;
			.wh {
				display: inline-block;
			}
			.fiol {
				display: none;
			}
		}
	}
}

#bl_form2 {
	background-image: url(../img/bg_form2.jpg);
	h1 {
		span {
			color: #fff;
			font-family: 'exo2.0medium';
		}
	}
	h3 {
		color: #fff;
	}
}

#scr8 {
	padding-top: 100px;
	h1 {
		margin-bottom: 50px;
		span {
			color: $button_bg;
		}
	}
	.col-sm-3 {
		text-align: center;
	}
	.obicon {		
		display: table;
		margin: auto;
		
		text-align: center;
		.obiconin {
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			border: 2px solid #bbbbbb;
			border-radius: 50%;
			display: table-cell;
			vertical-align: middle;
			height: 108px;
			width: 108px;
		}
		.obiconin:hover {
			border-color: $fiolet;
		}
	}
	p {
		font-size: 1.2em;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.rowsec {
		margin-top: 110px;
	}
	.omg img {
		margin-top: -510px;
    	margin-left: -90px;
		position: relative;
		z-index: -1;
	}
}

#scr9 {
	padding: 10px 0 50px;
	height: 90vh;
	    
    min-height: 700px;
	h1 span {
		color: $fiolet;
	}
	h3 {
		margin-bottom: 50px;
	}
	img {
		width: 70%;
		
	}
	.embed-responsive-16by9 {
		padding-bottom: 44.25%;
    	width: 65%;
    	margin: auto;
	}
	.vido {
		margin-top: -375px;
	}
	input {
		border: 1px solid #000!important;
		width: 25%;
		margin-top: 20px;
	}
}

#bl_form3 {
	background-image: url(../img/bg_form3.jpg);
	h3 {
		color: #fff;
	}
	h1 span {
		color: #fff;
		font-family: 'exo2.0medium';
	}
	input {
		width: 31%;
		margin: 20px;
	}
	button {
		width: 40%;
	}
}

#scr11 {
	padding: 100px 0;
	.sld {
		padding-top: 50px;
		.name {
			background-color: $fiolet;
			color: #fff;
			padding: 10px 0;
			font-size: 1.5714em;
			width: 50%;
			margin: auto;
			text-align: center;
		}
		img {
			border: 2px solid $fiolet;
		}
		.dipsi {
			margin-top: 50px;
		}
	}
}

#scr12 {
	padding: 100px 0;
	.sld {
		padding-top: 50px;
		ul {
			top: 0 !important;
		}
		img.left {
			left: -50px !important;
		}
		img.right {
			right: -50px !important;
		}
	}
	
}

#bl_form4 {
	background-image: url(../img/bg_form4.jpg);
	//margin-top: -76px;
	@include back;
	color: #fff;
	padding: 70px 0 55px;
	h1 {
		margin-top: 0;
		font-family: 'exo2.0bold';
		span {
			color: $button_bg;
		}
	}
	i {
		font-size: 70px;
		color: $button_bg;
	}
	h2.tel {
		font-family: 'exo2.0bold';
		font-size: 2.1429em;
	}
	h3 {
		font-family: 'exo2.0medium';
	}
	input {
		margin: 20px 25px 0;
		width: 31%;
	}
	button {
		width: 35%;
	}
}

#map {
	padding-top: 100px;
}

#footer {
	padding: 20px 0;
}






/*
	16 / 14 = 1.1429em;
	18 / 14 = 1.2857em;
	20 / 14 = 1.4286em;
	22 / 14 = 1.5714em;
	24 / 14 = 1.7143em;
	30 / 14 = 2.1429em;
	32 / 14 = 2.2857em;
	42 / 14 = 3em;
	
	72 / 14 = 5.1429em;
	

*/





























