.show-message__info,
.show-message__inner {
    display: inline-block;
    vertical-align: top
}

.show-message,
.show-message__info {
    font-family: 'Rubik', sans-serif
}

.show-message>div:after,
.show-message>div:before {
    position: absolute;
    right: 7px;
    top: 15px;
    width: 20px;
    height: 1px;
    background: #69bdc2;
    content: ""
}

.show-message p {
    margin: 0!important
}

.show-message>div:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.show-message>div:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.show-message__info {
    padding-top: 15px;
    width: 248px;
    line-height: normal;
    color: #dadada;
    margin-bottom: 5px;
    font-size: 16px
}

.show-message__info #js-user-id {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: 700
}

.show-message__left {
    font-size: 14px
}

.show-message__left span {
    font-size: 15px
}

.show-message_call {
    background-color: #363636
}

.package_left,
.package_left span {
    font-size: 15px!important
}

#ouibounce-modal {
    background-color: rgba(0, 0, 0, .9)
}

.show-message_online {
    background-color: #cd5555;
    background-color: rgba(63, 63, 63, 1)
}

.show-message__item,
.show-message__item-first {
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 120px;
    width: 300px;
    color: #dadada;
    padding: 5px;
    padding-bottom: 15px;
    font-size: 14px;
    border-radius: 0;
    display: none;
    z-index: 100003
}

.lost_position {
    display: none!important;
    opacity: 0!important
}

.block_position {
    display: block!important;
    opacity: 1!important
}

.popup-off {
    display: none!important;
    opacity: 0!important;
    visibility: hidden!important
}

@media screen and (max-width:767px) {
    .show-message__info #js-user-id {
        font-size: 18px
    }
    .show-message__info {
        width: 230px
    }
    .show-message__item,
    .show-message__item-first {
        top: auto;
        right: 10px;
        bottom: 10px;
        width: 300px
    }
}

@media screen and (max-width:319px) {
    .show-message__item,
    .show-message__item-first {
        width: 225px
    }
    .show-message__info {
        width: 170px;
        font-size: 11px
    }
    .show-message__info span {
        font-size: 17px
    }
    .show-message__icon {
        width: 38px!important
    }
    .show-message__info br {
        display: none
    }
}

.show-message__info.icon-box.horizon {
    padding-left: 65px;
    padding-bottom: 0!important
}

.show-message__info.icon-box.horizon:before {
    width: 43px;
    top: 15px;
    left: 10px;
	position: absolute;
    background-size: 100% 43px;
	height: 43px;
	background-repeat: no-repeat;
}

.show-message__info.icon-box:before {
    content: "";
	
    background-image: url(../img/i/count-user.png)
}

.everad-sprite-callback+.show-message__info.icon-box:before {
    background-image: url(../img/i/count-call.png)
}

.everad-sprite-bucket+.show-message__info.icon-box:before {
    background-image: url(../img/i/count-order.png)
}

@media (max-width:767px) {
    .show-message__info.icon-box.horizon {
        padding-left: 50px;
        padding-bottom: 15px;
        padding-top: 2px;
        font-size: 1.5rem
    }
    .show-message__info.icon-box.horizon span {
        font-size: 1.5rem
    }
    .show-message__info.icon-box.horizon:before {
        width: 35px;
        top: 15px;
        left: 10px;
        background-size: 100% 35px
    }
}
#kmacb.kmacb__manager {
	z-index: 100000!important;
}



