<IfModule mod_deflate.c> 
AddOutputFilterByType DEFLATE text/html 
AddOutputFilterByType DEFLATE application/javascript 
AddOutputFilterByType DEFLATE text/javascript 
AddOutputFilterByType DEFLATE text/css 
<IfModule mod_setenvif.c> 
BrowserMatch ^Mozilla/4 gzip-only-text/html 
BrowserMatch ^Mozilla/4\.0[678] no-gzip 
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule> 
</IfModule> 


# CACHE AND Headers _________ 
<ifModule mod_headers.c> 
<FilesMatch "\.(html|htm)$"> 
Header set Cache-Control "max-age=43200" 
</FilesMatch> 
<FilesMatch "\.(js|css|txt)$"> 
Header set Cache-Control "max-age=604800" 
</FilesMatch> 
<FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|svg|jpe?g)$"> 
Header set Cache-Control "max-age=2592000" 
</FilesMatch> 
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$"> 
Header unset Cache-Control 
</FilesMatch> 
<FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css)$"> 
Header set Cache-Control "max-age=2592000" 
</FilesMatch> 
<FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" > 
Header unset X-UA-Compatible 
</FilesMatch> 
</IfModule>