

$mainColor: #f3efdb;
$secondColor: #9f625e;

$bg: #36221e;
$black: #232323;





$btnFormBg: #54323e;

$inputColor: #232323;

$neZachPrice: #b37d72;
$dot: #54323e;
$formBlBg: $mainColor;

$timerCifriBg: rgb(38, 26, 23);

$modalBg: $bg;

$videoBg: #261a17;

$iconsBg: #1a110f;

$font-f: 'MinionPro-Bold';