$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #9f625e;

$bg: #f1ebe0;
$black: #232323;

$btnCallModalBg: $mainColor;
$btnCallModalHoverColor: #ffc1bd;

$btnFormBlHoverBg: #905450;
$inputColor: #232323;

$spanNeZachPrice: #95322e;
$formBlBg: $mainColor;

$timerCifriBg: #965b58;

$modalBg: #c1c1ce;

$font-f: 'Roboto-Regular';