$green: #359401;
$korich: #a51d10;
$siniy: #1c73d9;

$mainColor: #232323;
$secondColor: #1b1b1b;

$bg: #fff;
$black: #1b1b1b;





$btnFormBg: #597039;

$inputColor: #232323;

$neZachPrice: #697c4e;

$formBlBg: $mainColor;

$timerCifriBg: #120913;

$modalBg: #eeede8;

$asideBg: #1b1b1b;

$iconsBg: #597039;

$font-f: 'Roboto-Regular';